{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Music Library{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block nav_links %}{% endblock %}
    <header class="header">
        <div class="logo">
            <a href="{% url 'my_app:home' %}">Music Library</a>
        </div>
        <nav class="nav-links">
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'my_app:song_index' %}">Songs</a></li>
                    <li><a href="{% url 'my_app:album_index' %}">Albums</a></li>
                    <li><a href="{% url 'my_app:artist_index' %}">Artists</a></li>

                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Log out</button>
                      </form>
                    </li> 

                {% else %}
                    <li><a href="{% url 'my_app:home' %}">Login</a></li>
                    <li><a href="{% url 'my_app:signup'%}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    
    <main class="main-content">

        {% block content %}{% endblock %}
    </main>
</body>
</html> 